version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/krak3n/awsoc
    environment:
      GO111MODULE: "on"
    steps:
      - checkout
      - run: go test -v ./...
